h1 {
    text-align: center;
    margin: 50px;
    color:white;
    

  }
  
  h1:hover {
    animation: smoothRock 1.5s ease-in-out infinite;
    color: red;
  }
  
  @keyframes smoothRock {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  
img{
transform: scale(0.5);
    margin: 100px;
        position: relative;
        bottom: 150px;
        right: -7.5%;

}
style